@model System.Web.Mvc.HandleErrorInfo  
  
@{  
    ViewBag.Title = "Error";
}  
  
<div style="background-color: #dddddd; color: #E72900; height: 10px;">  
</div>  
<div style="background-color: #dddddd; color: #E72900; height: 170px;">  
    <div style=" padding:20px;">  
        <h3>  
            Application Error:</h3>  
        <h4>  
            Oops...!! Sorry an error occurred while processing your request... 
        </h4>  
        <h5>@Html.ActionLink("Go Back To Git Hub Home Page", "SearchRepo", "GitHub")</h5>  
        <br />  
        <br />  
    </div>  
</div>  
<div style="background-color: #A52A2A; color: White; height: 20px;">  
</div>  